@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;600;800;900&display=swap");

$main_color: #48f723;
$bg_page: black;

html,
body {
  background-color: $bg_page;
  font-family: "Inconsolata", monospace;
}

.myHeader {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $main_color;
  color: black;
  position: relative;
  * {
    margin: 0;
    box-sizing: border-box;
  }
  .back-button {
    position: absolute;
    left: 30px;
    top: 25%;
    padding: 10px 12px;
    background-color: black;
    color: $main_color;
    border-color: 1px solid $main_color;
    line-height: 1;
  }
  p {
    line-height: 1;
    color: black;
  }
}

.bold {
  font-weight: 600;
}

a:hover {
  color: #48f723;
  text-decoration: underline;
}

h1 {
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  font-size: 2rem;
}

h2 {
  margin: 0;
  line-height: 1;
  font-weight: bold;
  color: $main_color;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  line-height: 1;
  font-weight: bold;
  font-size: 1.5rem;
  color: $main_color;
}

hr {
  background-color: $main_color;
}

.label {
  color: $main_color;
}

p {
  margin: 0;
  line-height: 1;
  color: $main_color;
}
// END MAIN STYLE

.active-btn {
  color: black;
  background: $main_color;
}

.button {
  padding: 0.3rem 0.5rem;
  border: 1px solid $main_color;
  background-color: black;
  color: $main_color;
  box-sizing: border-box;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s;
}

.button:hover {
  color: $main_color;
  transform: scale(1.2);
  border: 1px solid $main_color;
}

.b-left {
  border-left: 1px solid $main_color;
}

.b-bottom {
  border-bottom: 1px solid $main_color;
}

input.input,
textarea.textarea {
  background-color: black;
  color: $main_color;
  border: none;
  border-bottom: 1px solid $main_color;
  border-radius: 0;
  outline-width: 0;
  font-size: 1.5rem;
}

label.upload.control.is-expanded {
  border-left: none;
}

label {
  text-transform: uppercase;
  padding-left: 5px;
  border-left: 5px solid $main_color;
}

p.label {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 10px;
  border-left: 5px solid $main_color;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  border-top: 1px solid $main_color;
  background-color: black;
}

.structure {
  color: $main_color;
  width: 100vw;
  height: 90vh;
  .console-log {
    height: 92vh;
    overflow-y: auto;
  }
}

// SCROLLBAR

::-webkit-scrollbar {
  // width: 10px;
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 0;
  border-left: 1px solid $main_color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $main_color;
  border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $main_color;
}

// SCROLLBAR END
