@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;600;800;900&display=swap");

$main_color: #48f723;
$bg_page: black;

html,
body {
  background-color: $bg_page;
  font-family: "Inconsolata", monospace;
  overflow: hidden;
}

.myHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $main_color;
  color: black;
  z-index: 2;
  * {
    margin: 0;
    box-sizing: border-box;
  }
  .back-button {
    position: absolute;
    left: 30px;
    top: 25%;
    padding: 10px 12px;
    background-color: black;
    color: $main_color;
    border-color: 1px solid $main_color;
    line-height: 1;
  }
  p {
    line-height: 1;
    color: black;
  }
}

.bold {
  font-weight: 600;
}

a:hover {
  color: #48f723;
  text-decoration: underline;
}

.green {
  color: $main_color !important;
}

h1 {
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: 900;
}

h2 {
  margin: 0;
  line-height: 1;
  font-weight: bold;
  color: $main_color;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  line-height: 1;
  font-weight: bold;
  font-size: 1.5rem;
  color: $main_color;
}

hr {
  background-color: $main_color;
}

.label {
  color: $main_color;
}

p {
  margin: 0;
  line-height: 1;
  color: $main_color;
}
// END MAIN STYLE

.active-btn {
  color: black;
  background: $main_color;
}

.button {
  padding: 0.3rem 0.5rem;
  border: 1px solid $main_color;
  background-color: black;
  color: $main_color;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 900;
  font-family: "Inconsolata";
  width: 100%;
}


.button:hover {
  color: black;
  border: 1px solid $main_color;
  background-color: $main_color;
}

.smaller-btn {
  width: 100px;
}

.b-left {
  border-left: 1px solid $main_color;
}

.b-bottom {
  border-bottom: 1px solid $main_color;
}

input.input,
textarea.textarea {
  background-color: black;
  color: $main_color;
  border: none;
  border-bottom: 1px solid $main_color;
  border-radius: 0;
  font-size: 1.5rem;
  outline-width: 10px !important;
  box-shadow: none !important;
}

input::placeholder,
textarea::placeholder {
  color: rgb(54, 54, 54) !important;
}

label.upload.control.is-expanded {
  border-left: none;
}

label {
  text-transform: uppercase;
  padding-left: 10px;
  border-left: 2px solid $main_color;
}

p.label {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 10px;
  border-left: 2px solid $main_color;
}

.pulsing {
  font-size: 1em;
  font-weight: 800;
  line-height: 1.5;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  animation: pulse 0.8s step-end infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.footer {
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid $main_color;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.structure {
  color: $main_color;
  width: 100vw;
  padding-top: 70px;
  .console-log {
    min-height: calc(100vh - 69px);
    overflow-y: auto;
  }
}

.img_container {
  width: 100%;
  height: 500px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.left-column {
  padding-bottom: 90px;
  height: calc(100vh - 69px);
  overflow: auto;
}
.right-column {
  padding: 0 20px 0 0;
}

// SCROLLBAR

::-webkit-scrollbar {
  // width: 10px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 0;
  border-left: 1px solid $main_color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $main_color;
  border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $main_color;
}

// SCROLLBAR END
